<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/search">Search</a>
      |
      <a href="/show">Recent Searches</a>
      |
      <a href="/show/new">Add Quote</a>
      |
      <a href="/logout">LOG OUT</a>
    </nav>