<!DOCTYPE html>
<html>
  <head>
    <title>Who Said That?</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav></nav>
    <h1 id="cover-title">Who Said That?</h1>
    <div id="login-text">Please
    <a href="/auth/google" class="login">LOG IN</a>
    using your Google account.
  </div>
<div id="cover-pic">

</div>

  </body>
</html>
