body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  background-image: url("../../assets/filmRoll.png");
  background-size: auto;
}

h1 {
  text-align: center;
}

a {
  color: #00b7ff;
}
div {
  border: solid black 1px;
  border-radius: 10px;
}

.show {
  text-align: center;
}

#recent-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
