body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
div {
  border: solid black 1px;
  border-radius: 10px;
}

#recent {
  display: flex;
  justify-content: center;
  align-items: center;
}
