<%- include('../partials/header') %>


<h1>How Do You Want to Search?</h1>
<!-- Quote Search -->
<div class="search">
  <div id="search-quote">
  <form action="search/quote" method="get">
    <input class= "text" type="text" name="quote" placeholder="Search Quote Here" />
    <input class="subBtn" type="submit" value="Search" />
  </div>
  </form>
  <h3>or</h3>
  <!-- Movie Search -->
  <div id="search-movie"></div>
  <form action="search/movie" method="get">
    <input class= "text" type="text" name="movie" placeholder="Search Movie Here" />
    <input class="subBtn" type="submit" value="Search" />
  </form>
</div>
<%- include('../partials/footer') %>
