<%- include('../partials/header') %>
<h1>Add New Quote</h1>
<div id="new-quote">
<form id="new-form" action="/show" method="POST">
  <div class="new-form-input">
    <label>Quote:</label>
  <input type="text" name="quote" />
  </div>
  <div class="new-form-input">
    <label>Movie Title:</label>
      <input type="text" name="title" />
      </div>
      <div class="new-form-input"><label>Actor:</label>
      <input type="text" name="name" />
      <input type="submit" value="Add Quote" />
      </div>
    </form>
    </div>
    <div id="new-seats"></div>
    <%- include('../partials/footer') %>

