<!DOCTYPE html>
<html>
  <head>
    <title>New Quote</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/search">Search</a>
      |
      <a href="/show">Recent Searches</a>
    </nav>
    <form id="new-form" action="/show" method="POST">
      <label>Quote:</label>
      <input type="text" name="quote" />
      <label>Movie Title:</label>
      <input type="text" name="title" />
      <label>Actor:</label>
      <input type="text" name="name" />
      <input type="submit" value="Add Quote" />
    </form>
  </body>
</html>
