<%- include('../partials/header') %>

<nav>
  <a href="/search">Search</a>
  |
  <a href="/show">Recent Searches</a>
  |
  <a href="/show/new">Add Quote</a>
</nav>

<h1>Searched Quote</h1>

<%- include('../partials/footer') %>
